@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;

  src: url('fonts/sourcesanspro-light-webfont.eot');
  src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sourcesanspro-regular-webfont.eot');
  src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/sourcesanspro-semibold-webfont.eot');
  src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/sourcesanspro-bold-webfont.eot');
  src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/sourcesanspro-lightitalic-webfont.eot');
  src: url('fonts/sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-lightitalic-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-lightitalic-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-lightitalic-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;

  src: url('fonts/sourcesanspro-italic-webfont.eot');
  src: url('fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-italic-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-italic-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;

  src: url('fonts/sourcesanspro-semibolditalic-webfont.eot');
  src: url('fonts/sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sourcesanspro-semibolditalic-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-semibolditalic-webfont.woff') format('woff'),
  url('fonts/sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),
  url('fonts/sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt') format('svg');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('kaushanscript-regular-webfont.eot');
  src: url('kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
  url('fonts/kaushanscript-regular-webfont.woff') format('woff'),
  url('fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
  url('fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
}